

.jumbotron {
	background-image: url(https://gingerleaphotography.files.wordpress.com/2014/01/washoe-lake-pano-from-wetlands.jpg);
	background-size: 100% 100%;
	height: 300px;
	text-align: center;
	font-size: 500%;
	font-weight: bolder;
	color: white;


}


